@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.btn-update {
  @apply px-2 py-2 rounded-md bg-blue-600 text-white hover:bg-blue-700;
}
.btn-remove {
   @apply px-2 py-2 rounded-md bg-red-600 text-white hover:bg-red-700;
}


.bg-color-1{
   background-color: #DC2626;
}

.bg-color-2{
  background-color: #2563EB;
}